html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: #E0E0E0 fixed;
    font-family: Roboto sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

main {
    min-height: 100%;
    background: #E0E0E0 fixed;
    padding-top: 75px;
    flex: 1;
}

footer {
    position: relative;
    background: #212121;
    color: white;
}

.center {
    text-align: center;
}

#createPost {
    width: 80%;
    margin-top: 100px;
}

form {
    min-height: 500px;
}

#content {
    height: auto;
}

#publish {
    position: absolute;
    bottom: 20px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.md-card-image {
    height: 300px;
    width: 100%;
    background-size: cover;
}

.body-text {
    max-height: 200px;
    overflow: hidden;
}

