html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    /* background: url("../../img/laptop.jpg") fixed;*/
    font-family: Roboto sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

section {
    height: 100%;
}

main {
    min-height: 100%;
    background: url("../../img/laptop.jpg") fixed no-repeat;
    background-size: cover;
    padding-top: 75px;
    flex: 1;
}

#list-background {
    background: #BDBDBD fixed;
}

footer {
    position: relative;
    background: #212121;
    color: white;
}

.center {
    text-align: center;
}

#createPost {
    width: 80%;
    margin-top: 100px;
}

#content {
    height: auto;
}

#publish {
    position: absolute;
    bottom: 20px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.md-card-image {
    position: relative;
    padding: 20px;
    height: 300px;
    width: 100%;
    background-size: cover;
}

.md-headline {
    position: absolute;
    bottom: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
}

md-card md-card-content .body-text {
    max-height: 200px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Custom card classes */
.img-sm {
    height: 150px;
}

.para-sm {
    height: 45px;
    -webkit-column-width: 150px;
    column-width: 200px;
}

.img-lg {
    height: 300px;
}

.para-lg {
    height: 160px;
}

#register {
    width: 60%;
}

#imgPreview {
    height: 140px;
    width: 140px;
    float: left;
}

#card-body {
    min-height: 360px;
    padding: 20px 50px;
}

.md-user-avatar {
    width: 40px;
    height: 40px;
}

.nav-header {
    height: 100px;
}

md-toolbar.md-theme-indigo {
    height: 150px;
}

#current-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}