html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    /* background: url("../../img/laptop.jpg") fixed;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

main {
    min-height: 100%;
    background: url("../../img/laptop.jpg") fixed no-repeat;
    background-size: cover;
    padding-top: 75px;
    flex: 1;
}

#list-background {
    background: #BDBDBD fixed;
}

footer {
    position: relative;
    background: #212121;
    color: white;
}

.center {
    text-align: center;
}

/*#createPost {
    width: 80%;
    margin-top: 100px;
}

#content {
    height: auto;
}*/

#publish {
    position: absolute;
    bottom: 20px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.md-card-image {
    position: relative;
    padding: 20px;
    height: 300px;
    width: 100%;
    background-size: cover;
}

.md-headline {
    position: absolute;
    bottom: 20px;
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Custom card classes */
.img-sm {
    height: 150px;
}

.para-sm {
    height: 45px;
    /*-webkit-column-width: 150px;
    column-width: 200px;*/
    font-size: .8em;
}

.img-lg {
    height: 300px;
}

.para-lg {
    height: 160px;
}

#register {
    width: 60%;
}

#imgPreview {
    height: 140px;
    width: 140px;
    float: left;
}

.body-text-sm {
    max-height: 200px;
    overflow: hidden;
}

.body-text-lg {
    min-height: 360px;
    padding: 20px 50px;
}

.md-user-avatar {
    width: 40px;
    height: 40px;
}

.nav-header {
    height: 100px;
}

md-toolbar.md-theme-indigo {
    height: 150px;
}

#current-user {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    margin-right: 40px;
}

img {
    outline: 0;
}

.page-heading, .page-heading h3 {
    margin: 1.875em auto 2.5em; /* 30/40px*/
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
    text-align: center;
}

.ava-preview {
    width: 8.25em;
    height: 8.25em;
}

.note {
    font-style: italic;
}

#info-header {
    text-transform: uppercase;
}

#info-content {
    margin-top: 10px;
}

#information {
    padding: 16px;
}

.md-subheader .md-subheader-inner {
    padding: 10px 0;
}

/* Text area */
.ta-scroll-window > .ta-bind {
    max-height: 25em; /*400px on PC screen*/
}

#enable-preview {
    float: right;
}

.num-favorites {
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
}

.image-lg {
    height: 25em;
}

md-fab-speed-dial {
    position: absolute;
    top: -33px;
    right: 10px;
}

.comment-section-title {
    text-align: center;
    color: #424242;
}

.comment-section {
    background: #eee;
    padding: 20px;
}

label {
    font-weight: 400;
}

.comment {
    color: #424242;
    font-size: 0.875em;
}

/* Overriding default background color for subheader */

.comment-header > .md-subheader {
    background-color: inherit;
    color: inherit;
    font-size: .95em;
}

.comment-author {
    margin: 5px auto auto 15px;
}

.comment-text {
    margin: 12px auto 20px auto;
}

/*Media queries*/
/*Mobile*/
@media screen and (max-device-width: 480px) {
    body {
        font-size: 14px;
    }

    .body-text-lg {
        padding: 0;
    }

    .image-lg {
        height: 15em;
    }
}

/*Laptop*/
@media screen and (max-device-width: 1440px) {
    .img-lg {
        height: 200px;
    }

    .img-sm {
        height: 80px;
    }
}

