html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
}

footer {
    background: #212121;
    color: white;
}

.md-card-image {
    width: 100%;
}

.md-card {
    width: 70%;
}