html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: #E0E0E0 fixed;
}

header {
    position: fixed;
    width: 100%;
}

main {
    min-height: 100%;
    background: #E0E0E0 fixed;
    padding-top: 75px;
    flex: 1;
}

footer {
    position: relative;
    background: #212121;
    color: white;
}

.center {
    text-align: center;
}

#createPost {
    width: 80%;
    margin-top: 100px;
}

form {
    min-height: 500px;
}

#content {
    height: auto;
}