html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    background: #E0E0E0 fixed;
}

header {
    position: fixed;
    width: 100%;
}

main {
    min-height: 100%;
    background: #E0E0E0 fixed;
    padding-top: 75px;
}

footer {
    position: relative;
    background: #212121;
    color: white;
}

/*.md-card-image {
    width: 100%;
}

.md-card {
    width: 70%;
}*/