<md-fab-speed-dial md-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false"
                   class="md-scale" md-direction="left" ng-if="post.public">
    <md-fab-trigger>
        <md-button class="md-icon-button">
            <md-tooltip aria-label="menu" md-direction="bottom">
                Share
            </md-tooltip>
            <md-icon md-font-set="material-icons">share</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button
                href="https://www.facebook.com/dialog/share?app_id=819933928129983&href={{ 'https://thee-blog.herokuapp.com/' + post.slug }}&redirect_uri=http://0.0.0.0:5000/posts"
                aria-label="Share on Facebook" class="md-fab md-raised md-mini" ng-disabled="post.disabled">
            <md-tooltip md-direction="bottom">
                Share on Facebook
            </md-tooltip>
            <i class="fa fa-facebook"></i>
        </md-button>
        <md-button
                href="https://twitter.com/intent/tweet?text='{{ post.title }}'%20by%20{{ post.author }}&
                            &url={{ 'https://thee-blog.herokuapp.com/' + post.slug }}"
                aria-label="Share on Twitter" class="md-fab md-raised md-mini" ng-disabled="post.disabled">
            <md-tooltip md-direction="bottom">
                Share on Twitter
            </md-tooltip>
            <i class="fa fa-twitter"></i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>