<!doctype html>
<html lang="en" ng-app="AngularFlask" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularFlask</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/dist/vendor.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/src/css/main.css">
    <base href="/">
</head>
<body ng-controller="MainCtrl">

<header>
    <md-toolbar md-scroll-shrink class="md-primary md-hue-2">
        <div layout="row" layout-padding layout-align="space-between center">
            <div class="nav-buttons">
                <md-button ng-href='/' class="md-raised">Home</md-button>
                <md-button ng-href='/posts'>Posts</md-button>
                <md-button ng-href='/about'>About</md-button>
            </div>
            <div class="nav-buttons">
                <md-menu md-offset="2 80" ng-show="currentUser()">
                    <img ng-click="$mdOpenMenu(ev)" id="current-user" md-menu-origin
                         ng-src="{{ getUserDetails().ava }}"/>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-href='/new'>
                                <md-icon md-font-set="material-icons">add</md-icon>
                                Create post
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button>
                                <md-icon md-font-set="material-icons">list</md-icon>
                                My posts
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                <md-icon md-font-set="material-icons">settings</md-icon>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()" ng-href='#'>
                                <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                                Log Out
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button ng-href='/register' class="md-raised md-warn" ng-hide="currentUser()">Log In</md-button>

            </div>
        </div>
    </md-toolbar>
</header>

<main layout="row" flex layout-align="center" layout-xs="column" ng-view autoscroll>

</main>

<footer>
    <div layout="row" layout-align="center center">
        <h4>&copy; 2016 AngularFlask</h4>
    </div>
</footer>
<script src="../static/dist/vendor.js"></script>
<script src="../static/dist/main.js"></script>

</body>
</html>