<!doctype html>
<html lang="en" ng-app="AngularFlask" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularFlask</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/dist/vendor.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/src/css/main.css">
    <base href="/">
</head>
<body ng-controller="MainCtrl" layout="row">


        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>
        </md-sidenav>

  <div layout="column">  <md-toolbar md-scroll-shrink class="md-primary md-hue-2">
        <div layout="row" layout-padding layout-align="space-between center">
            <div class="nav-buttons">
                <md-button ng-href='/' class="md-raised">Home</md-button>
                <md-button ng-href='/posts'>Posts</md-button>
                <md-button ng-href='/about'>About</md-button>
                <md-button ng-href='/new'>Create post</md-button>

            </div>
            <div class="nav-buttons">
                <md-button ng-href='/' class="md-raised md-accent" type="button">My profile</md-button>
                <md-button ng-href='/register' class="md-raised md-warn" ng-if="!isLoggedIn()">Log In</md-button>
                <md-button ng-click="logout()" ng-href='#' class="md-raised md-warn" ng-if="isLoggedIn()">Log Out
                </md-button>
            </div>
        </div>
    </md-toolbar>


<main layout="row" layout-align="center" layout-xs="column" ng-view autoscroll>

</main>


<footer>
    <div layout="row" layout-align="center center">
        <h4>&copy; 2016 AngularFlask</h4>
    </div>
</footer>
</div>

<script src="../static/dist/vendor.js"></script>
<script src="../static/dist/main.js"></script>

</body>
</html>