<!doctype html>
<html lang="en" ng-app="AngularFlask" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularFlask</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/dist/vendor.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/src/css/main.css">
    <base href="/">
</head>
<body>
<header>
    <md-toolbar md-scroll-shrink class="md-primary md-hue-2">
        <div layout="row" layout-padding layout-align="space-between center">
            <div class="nav-buttons">
                <md-button ng-href='/' class="md-raised">Home</md-button>
                <md-button ng-href='/posts'>Posts</md-button>
                <md-button ng-href='/about'>About</md-button>
                <md-button ng-href='/new'>Create post</md-button>

            </div>
            <div class="nav-buttons">
                <md-button ng-href='/' class="md-raised md-accent">My profile</md-button>
                <md-button ng-href='/' class="md-raised md-warn">Log Out</md-button>
            </div>
        </div>
    </md-toolbar>
</header>
<main layout="row" layout-align="center" layout-xs="column" ng-view>

</main>


<footer>
    <div layout="row" layout-align="center center">
        <h4>&copy; 2015 AngularFlask</h4>
    </div>
</footer>


<script src="../static/dist/vendor.js"></script>
<script src="../static/dist/main.js"></script>

</body>
</html>