<div>
    <p>Serving from about page. This is a basic AngularJS + Flask application.</p>
</div>
 <!--<md-fab-speed-dial md-open="vm.isOpen" ng-mouseenter="vm.isOpen=true" ng-mouseleave="vm.isOpen=false" md-direction="left">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon md-font-set="material-icons">menu</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Edit post" class="md-fab md-raised md-mini">
                <md-icon md-font-set="material-icons" aria-label="Edit">mode_edit</md-icon>
            </md-button>
            <md-button aria-label="Delete post" class="md-fab md-raised md-mini">
                <md-icon md-font-set="material-icons" aria-label="Delete">delete</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>-->