<div layout="row" layout-align="center" id="about-page" ng-controller="UserDetailsController">
    <md-content class="md-whiteframe-3dp" layout="column" flex="100" flex-gt-md="60">
        <img src="http://precisionmedicine.ucsf.edu/sites/precisionmedicine.ucsf.edu/files/fields/image/pillar/Knowledge-Network-head.jpg">

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="About">
                <md-content class="md-padding">
                    <h3 class="about-text">About The Blog</h3>
                    <p class="about-text">The Blog is the place where can share your thoughts and ideas with others as
                        well as give and
                        receive valuable feedback. It is easy to get started. Create an account, log in and from the
                        user menu
                        in the top right corner go to <a href="/new">New post</a> and you're
                        all set! Additionally you can customize
                        the default
                        cover image for your posts to make them stand out and better convey your thoughts.
                        <br> <br>
                        Found something that you enjoyed in particular? Favorite post to give its author a positive
                        feedback or leave a comment below!
                        <br> <br>
                        If writing is not your thing you can simply browse the latest posts from <a
                                href="/landing">Home page</a> or see all of them at one by going to <a href="/posts">Posts</a>.
                        <br><br>
                        Enjoy your stay!
                    </p>
                </md-content>
            </md-tab>
            <md-tab label="Technologies used">
                <md-content class="md-padding">
                    <h3 class="center about-text">This site is built using three core technologies</h3>
                    <div class="about-text" layout="row" layout-xs="column" layout-align="space-around center">
                        <md-whiteframe class="logos md-whiteframe-5dp" flex="30" flex-xs="100">
                            <img src="https://cms-assets.tutsplus.com/uploads/users/34/syllabuses/717/preview_image/angular-js-firebase.png">
                            <h3><a href="https://angularjs.org/">Angular.js 1.x</a></h3>
                            <p>Angular is one of the most popular JavaScript frameworks. It powers The Blog's front-end
                                allowing it to display pages without making unnecessary server requests.</p>
                        </md-whiteframe>

                        <md-whiteframe class="logos md-whiteframe-5dp" flex="30" flex-xs="100">
                            <img src="http://www.userlogos.org/files/logos/2690_fernandosantucci/angular.io-logo.png?1428949275">
                            <h3><a href="https://material.angularjs.org/">Angular Material</a></h3>
                            <p>Angular Material is the reference implementation of Google's Material Design
                                Specification. It provides a set of reusable, well-tested, and accessible UI components
                                based on Material Design.</p>
                        </md-whiteframe>

                        <md-whiteframe class="logos md-whiteframe-5dp" flex="30" flex-xs="100">
                            <img src="http://flask.pocoo.org/docs/0.10/_static/flask.png">
                            <h3><a href="http://flask.pocoo.org/">Flask</a></h3>
                            <p>Flask is a lightweight microframework written in Python. It is perfect for constructing
                                APIs and interacting with databases, which is what it is mainly used here for.</p>
                        </md-whiteframe>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Social">
                <md-content class="md-padding">
                    <h3 class="about-text">If you like this project share it on social media and star or fork on
                        Github.</h3>
                    <div layout="row" layout-xs="column" layout-align="space-around center">

                        <!-- Github buttons -->
                        <a class="github-button" href="https://github.com/Clarity-89/blog" data-icon="octicon-star"
                           data-style="mega" data-count-href="/Clarity-89/blog/stargazers"
                           data-count-api="/repos/Clarity-89/blog#stargazers_count"
                           data-count-aria-label="# stargazers on GitHub"
                           aria-label="Star Clarity-89/blog on GitHub">Star</a>

                        <a class="github-button" href="https://github.com/Clarity-89/blog/fork"
                           data-icon="octicon-repo-forked" data-style="mega" data-count-href="/Clarity-89/blog/network"
                           data-count-api="/repos/Clarity-89/blog#forks_count" data-count-aria-label="# forks on GitHub"
                           aria-label="Fork Clarity-89/blog on GitHub">Fork</a>

                        <!-- Twitter button -->
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-via="{{ getUserDetails().username }}"
                           data-size="large">Tweet</a>

                        <!-- Facebook button -->
                        <div class="fb-share-button" data-href="http://0.0.0.0:5000/" data-layout="button_count"></div>

                        <!-- G+ -->
                        <g:plus action="share"></g:plus>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>