<div>
	<p>This is a basic AngularJS + Flask application.</p>
</div>
<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
	<div>
		<md-button>Home</md-button>
		<md-button>Item 1</md-button>
		<md-button>Item 2</md-button>
		<md-menu>
			<md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
			<md-menu-content width="2">
				<md-menu-item>
					<md-button>Help</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button>About</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
	<div class="nav-buttons">
		<md-button class="md-raised md-accent">My profile</md-button>
		<md-button class="md-raised md-warn">Log Out</md-button>
	</div>
</div>
<div id="content" class="container main" ng-view>
</div>