<md-card>
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ post.avatar }}">
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{ post.author }}</span>
            <span class="md-subhead">{{ post.date | date: 'dd/MM/yy HH:mm'}}</span>
        </md-card-header-text>
    </md-card-header>
    <div class="md-card-image" ng-class="posts.list && post.img"
         ng-style="imageSrc && {'background-image':'url('+ imageSrc +')'} || {'background-image':'url(' + post.cover_photo + ')'}">
        <span class="md-headline" ng-model="post.title">{{ post.title }}</span>
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <span class="num-favorites">{{ post.favorited }}</span>
        <md-button class="md-icon-button" aria-label="Favorite" disabled="{{ post.disabled }}" ng-click="favorite(post.id)">
            <md-tooltip md-direction="bottom">
                Favorite
            </md-tooltip>
            <md-icon md-font-set="material-icons">favorite</md-icon>
        </md-button>
        <!--Share menu-->
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="Share" disabled="{{ post.disabled }}">
                <md-tooltip md-direction="bottom">
                    Share
                </md-tooltip>
                <md-icon aria-label="Open share menu" md-menu-origin md-font-set="material-icons" class="md-icon-button"
                         ng-click="$mdOpenMenu(ev)">share
                </md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button>
                        <i class="fa fa-facebook"></i>
                        Share on Facebook
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <i class="fa fa-twitter"></i>
                        Share on Twitter
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </md-card-actions>
    <md-card-content>
        <div class="body-text-lg" ta-bind ng-model="post.body">{{ post.body }}</div>
    </md-card-content>
</md-card>
