<div flex ng-controller="PostListController">
    <h2 class="page-heading">Latest posts</h2>

    <div ng-repeat="post in posts | orderBy: '-date' | limitTo: 5 " class="md-padding" layout="row" layout-wrap=""
         layout-align-gt-xs="center center"
         layout-xs="column">
        <!--<post></post>-->
        <div flex="80" flex-xs="100" flex-gt-xs="50" flex-gt-lg="60" layout="column">
            <post text="sm" post="post" favorite="favorite(id)" user="{{getUserDetails().username}}" edit="editPost(post)" open-modal="showConfirm(ev, id)"></post>
        </div>
    </div>
</div>