<div flex ng-cloak>

    <h2 class="center page-heading">My posts</h2>

    <div ng-if="!posts.length" layout-align="center center" class="page-heading">
        <h3 flex>You haven't published any posts yet.</h3>
    </div>

    <div ng-repeat="post in posts" class="md-padding" layout="row" layout-wrap=""
         layout-align="center center"
         layout-xs="column">
        <div flex="100" flex-sm="60"  flex-gt-sm="50" layout="column">
            <post></post>
        </div>
    </div>
</div>
