<div layout="column" ng-cloak id="createPost">
    <md-content layout-padding>
        <form name="createPost">
            <md-input-container class="md-block">
                <label>Title</label>
                <input required name="description" ng-model="project.description">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="content">Content</label>
                <textarea required name="content" id="content" rows="5"></textarea>
                <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-warn">Publish</md-button>

        </form>
    </md-content>
</div>