<div layout="column" ng-cloak id="createPost" ng-controller="NewPostController">
    <md-content layout-padding>
        <form ng-submit="createPost()" name="newPost" novalidate>
            <md-input-container class="md-block">
                <label>Title</label>
                <input required name="title" ng-model="post.title">
                <div ng-messages="post.title.$error">
                    <div ng-message="required">Title is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="content">Content</label>
                <textarea required name="body" id="content" rows="1" ng-model="post.body"></textarea>
                <div ng-messages="post.body.$error">
                    <div ng-message="required">Content is required.</div>
                </div>
            </md-input-container>
            <input type="submit" class="md-raised md-warn" id="publish" value="Publish">

        </form>
    </md-content>
</div>