<md-card>
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ post.avatar }}">
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{ post.author }}</span>
            <span class="md-subhead">{{ post.date | date: 'dd/MM/yy HH:mm'}}</span>
        </md-card-header-text>
    </md-card-header>
    <a ng-href="{{ post.disabled ? '#' : '/posts/' + post.id}}">
        <div class="md-card-image image-{{ text }}"
             ng-style="imageSrc && {'background-image':'url('+ imageSrc +')'} || {'background-image':'url(' + post.cover_photo + ')'}">
            <md-fab-speed-dial md-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false"
                               class="md-scale" md-direction="left">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-tooltip md-direction="bottom">
                            Share
                        </md-tooltip>
                        <md-icon md-font-set="material-icons">share</md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Share on Facebook" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="bottom">
                            Share on Facebook
                        </md-tooltip>
                        <i class="fa fa-facebook"></i>
                    </md-button>
                    <md-button aria-label="Share on Twitter" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="bottom">
                            Share on Twitter
                        </md-tooltip>
                        <i class="fa fa-twitter"></i>

                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
            <span class="md-headline" ng-model="post.title">{{ post.title }}</span>
        </div>
    </a>
    <md-card-actions layout="row" layout-align="end center">
        <span class="num-favorites">{{ post.favorited }}</span>
        <md-button class="md-icon-button" aria-label="Favorite" disabled="{{ post.disabled }}"
                   ng-click="favorite({id:post.id})">
            <md-tooltip md-direction="bottom">
                Favorite
            </md-tooltip>
            <md-icon md-font-set="material-icons">favorite</md-icon>
        </md-button>
        <!--Share menu-->
        <md-menu md-position-mode="target-right target" ng-show="{{ author ===  post.author}} ">
            <md-button class="md-icon-button" aria-label="Post Menu" disabled="{{ post.disabled }}">
                <md-icon aria-label="Open share menu" md-menu-origin md-font-set="material-icons" class="md-icon-button"
                         ng-click="$mdOpenMenu(ev)">more_vert
                </md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button aria-label="Edit post" ng-click="edit()">
                        <md-icon md-font-set="material-icons" aria-label="Edit">mode_edit</md-icon>
                        Edit Post
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-set="material-icons" aria-label="Delete">delete</md-icon>
                        Delete Post
                    </md-button>

                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-actions>
    <md-card-content>
        <div class="body-text-{{ text }}" ta-bind ng-model="post.body">{{ post.body }}</div>
    </md-card-content>
</md-card>
