<div ng-controller="PostListController" flex ng-cloak="" layout-padding id="list-background">
    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-lg="4" md-cols-gt-lg="6" md-row-height-gt-md="1:1"
                  md-row-height="4:3"
                  md-gutter="8px" md-gutter-gt-sm="18px">

        <md-grid-tile ng-repeat="post in posts" md-rowspan="{{ post.span.row }}" md-colspan="{{ post.span.col }}"
                      md-colspan-xs="1" md-rowspan-xs="2">
            <md-card layout-fill>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar"
                             ng-src="{{ post.avatar }}">
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{ post.author }}</span>
                        <span class="md-subhead">{{ post.date | localDate }}</span>
                    </md-card-header-text>
                </md-card-header>

                <!-- Card cover image and title -->
                <a href="/posts/{{ post.id }}">
                    <div class="md-card-image" ng-class=" post.img "
                         ng-style="{'background-image':'url(' + post.cover_photo + ')'}">
                        <span class="md-headline">{{ post.title }}</span>
                    </div>
                </a>
                <!-- Favorite post and comment icons -->
                <md-card-actions layout="row" layout-align="end center">
                    <md-button id="fav-button" class="md-icon-button" aria-label="Favorite"
                               disabled="{{ post.disabled }}"
                               ng-click="favorite(post)">
                        <md-icon ng-class="post.favClass" md-font-set="material-icons">favorite</md-icon>
                    </md-button>
                    <div>
                        <md-tooltip md-direction="top">
                            <div ng-repeat="user in post.favorited_by | limitTo: 5">
                                {{ user.username }}
                            </div>
                            <span ng-show="post.favorited_by.length - 5 > 0">and {{ post.favorited_by.length - 5 }} more...</span>
                        </md-tooltip>
                        <a href="#" ng-click="!post.disabled && showAdvanced($event, post)" class="num">
                            {{ post.favorited || 0 }}</a>
                    </div>
                    <md-button ng-click="gotoComments(post)" id="comment-button" class="md-icon-button"
                               aria-label="Comments" ng-disabled="post.disabled">
                        <md-icon md-font-set="material-icons">comments</md-icon>
                    </md-button>
                    <div>
                        <md-tooltip md-direction="top">
                            <div ng-repeat="user in post.comments | limitTo: 5">
                                {{ user.author }}
                            </div>
                            <span ng-show="post.comments.length - 5 > 0">and {{ post.comments.length - 5 }} more...</span>
                        </md-tooltip>
                        <a ng-click="!post.disabled && gotoComments(post)" class="num">
                            {{ post.comments.length || 0 }}</a>
                    </div>
                </md-card-actions>

                <!-- Text of the post -->
                <md-card-content>
                    <div ta-bind ng-model="post.body" ng-class="post.para"></div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>