<div ng-controller="PostListController" flex="" ng-cloak="" layout-padding id="list-background">
    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3"
                  md-gutter="8px" md-gutter-gt-sm="4px">

        <md-grid-tile ng-repeat="post in posts" md-rowspan="{{ post.span.row }}" md-colspan="{{ post.span.col }}"
                      md-colspan-sm="1">
            <md-card layout-fill>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar"
                             ng-src="{{ post.avatar }}">
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{ post.author }}</span>
                        <span class="md-subhead">{{ post.date | date : 'MM/dd/yy HH:mm' }}</span>
                    </md-card-header-text>
                </md-card-header>
                <a href="/posts/{{ post.id }}">
                    <div class="md-card-image" ng-class=" post.img " ng-style="{'background-image':'url(' + post.cover_photo + ')'}">
                        <span class="md-headline">{{ post.title }}</span>
                    </div>
                </a>
                <md-card-content ng-class="post.para">
                    <div class="body-text" ta-bind ng-model="post.body"></div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>