<md-card class="md-whiteframe-15dp">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ post.avatar }}">
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{ post.author }}</span>
            <span class="md-subheader">{{ post.date | date: 'dd/MM/yy HH:mm'}}</span>
        </md-card-header-text>

        <!-- Share on social media FAB menu-->
        <md-fab-speed-dial md-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false"
                           class="md-scale" md-direction="left">
            <md-fab-trigger>
                <md-button class="md-icon-button">
                    <md-tooltip aria-label="menu" md-direction="bottom">
                        Share
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">share</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button
                        href="https://www.facebook.com/dialog/share?app_id=819933928129983&href={{ 'http://0.0.0.0:5000/posts/' + post.id }}&redirect_uri=http://0.0.0.0:5000/posts"
                        aria-label="Share on Facebook" class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bottom">
                        Share on Facebook
                    </md-tooltip>
                    <i class="fa fa-facebook"></i>
                </md-button>
                <md-button
                        href="https://twitter.com/intent/tweet?text='{{ post.title }}'%20by%20{{ post.author }}&
                            &url={{ 'http://0.0.0.0:5000/posts/' + post.id }}"
                        aria-label="Share on Twitter" class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bottom">
                        Share on Twitter
                    </md-tooltip>
                    <i class="fa fa-twitter"></i>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <!--Edit/delete menu-->
        <md-menu md-position-mode="target-right target" ng-show="getUserDetails().username ===  post.author">
            <md-button class="md-icon-button" aria-label="Post Menu" disabled="{{ post.disabled }}">
                <md-icon aria-label="Open share menu" md-menu-origin md-font-set="material-icons"
                         ng-click="$mdOpenMenu(ev)">more_vert
                </md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button aria-label="Edit post" ng-click="editPost(post)">
                        <md-icon md-font-set="material-icons" aria-label="Edit">mode_edit</md-icon>
                        Edit Post
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="Delete post" ng-click="showConfirm($event, post.id)">
                        <md-icon md-font-set="material-icons" aria-label="Delete">delete</md-icon>
                        Delete Post
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>

    <!-- Card cover image and title -->
    <a ng-href="{{ post.disabled ? '#' : '/posts/' + post.id}}">
        <div class="md-card-image image-{{ size }}"
             ng-style="imageSrc && {'background-image':'url('+ imageSrc +')'} || {'background-image':'url(' + post.cover_photo + ')'}">

            <span class="md-headline" ng-model="post.title">{{ post.title }}</span>
        </div>
    </a>

    <!-- Favorite post and comment icons -->
    <md-card-actions layout="row" layout-align="end center">
        <md-button id="fav-button" class="md-icon-button" aria-label="Favorite" disabled="{{ post.disabled }}"
                   ng-click="favorite(post)">
            <md-tooltip md-direction="bottom">
                Favorite
            </md-tooltip>
            <md-icon ng-class="post.favClass" md-font-set="material-icons">favorite</md-icon>
        </md-button>
        <div>
            <md-tooltip md-direction="top">
                <div ng-repeat="user in post.favorited_by | limitTo: 10">
                    {{ user.username }}
                </div>
                <span ng-show="post.favorited_by.length - 10 > 0">and {{ post.favorited_by.length - 10 }} more...</span>
            </md-tooltip>
            <a href="#" ng-click="showAdvanced($event, post)" class="num">{{ post.favorited || 0 }}</a>
        </div>
        <md-button ng-click="gotoComments(post)" id="comment-button" class="md-icon-button"
                   aria-label="Comments">
            <md-tooltip md-direction="bottom">
                Comments
            </md-tooltip>
            <md-icon md-font-set="material-icons">comments</md-icon>
        </md-button>
        <div>
            <md-tooltip md-direction="top">
                <div ng-repeat="user in post.comments | limitTo: 10">
                    {{ user.author }}
                </div>
                <span ng-show="post.comments.length - 10 > 0">and {{ post.comments.length - 10 }} more...</span>
            </md-tooltip>
            <a ng-click="gotoComments(post)" class="num">{{ post.comments.length || 0 }}</a>
        </div>
    </md-card-actions>

    <!-- Text of the post -->
    <md-card-content>
        <div class="body-text-{{ size }}" ta-bind ng-model="post.body">{{ post.body }}</div>
    </md-card-content>

    <!-- Comments -->
    <md-card-content id="comments" class="comment-section" ng-if="!posts">
        <h3 class="comment-section-title">Comments</h3>
        <form name="commentForm" ng-submit="addComment(post, comment)">
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label class="custom-label" for="add-comment">
                        {{ post.comments.length ? "Join the" : "Start a "  }} discussion</label>
                    <input type="text" id="add-comment" ng-model="comment">
                </md-input-container>

                <md-button type="submit" class="md-icon-button md-primary" aria-label="Post comment"
                           ng-disabled="!comment" ng-click="">
                    <md-icon md-font-set="material-icons">done</md-icon>
                </md-button>
            </div>
        </form>
        <div class="comment" ng-repeat="comment in post.comments">
            <div class="comment-header" layout="row">
                <img class="md-user-avatar" ng-src="{{ comment.author_ava }}" alt="{{ comment.author }}">
                <div class="md-subheader comment-author">
                    <p>{{ comment.author }} <br/>
                        {{ comment.date | date: 'dd/MM/yy HH:mm'}}</p>
                </div>
            </div>
            <div class="comment-text">
                <p>{{ comment.body }}</p>
            </div>
        </div>
    </md-card-content>
</md-card>
