<div flex="80" flex-xs="100" flex-gt-lg="60" layout="row" layout-align="center center"
     ng-controller="UserDetailsController">
    <md-content id="information" flex layout-padding>
        <form name="userDetailsForm" novalidate ng-submit="updateUser(userDetailsForm)">
            <p id="info-header">Information</p>
            <md-divider></md-divider>
            <div layout="row" layout-xs="column" id="info-content">
                <div flex>
                    <md-subheader>Username</md-subheader>
                    <p>{{ user.username }}</p>
                    <md-subheader class="custom-subhead">Profile picture</md-subheader>
                    <div layout="row" layout-xs="column" layout-align-gt-xs="center center">
                        <div flex><img class="ava-preview" ng-src="{{ imageSrc || user.avatar }}"/></div>
                        <div flex>
                            <input type="file" class="ng-hide" id="uploadAva" name="ava" aria-label="upload avatar"
                                   onchange="angular.element(this).scope().setFile(this)" file-model="myAva">
                            <md-button class="md-raised md-warn" ng-click="activateUpload()">Upload New Picture
                            </md-button>
                        </div>
                    </div>
                </div>
                <div flex>
                    <md-subheader>Email</md-subheader>
                    <md-input-container class="md-block">
                        <input type="email" required name="email" ng-pattern="/^.+@.+\..+$/" ng-model="user.email">
                        <div ng-messages="userDetailsForm.email.$error" ng-if="userDetailsForm.email.$touched">
                            <div ng-message-exp="['pattern', 'required']">Enter a valid email address.</div>
                        </div>
                    </md-input-container>
                    <p>Change password <span class="note">(Leave blank if you don't want to change it)</span></p>
                    <div layout="row" layout-xs="column">
                        <md-input-container>
                            <label for="new-password">New Password</label>
                            <input type="password" name="newPassword" id="new-password" ng-model="user.newPassword"
                                   ng-minlength="6">
                            <div ng-messages="userDetailsForm.newPassword.$error">
                                <div ng-message="minlength">Password should be at least 6 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="confirm-new-password">Confirm New Password</label>
                            <input type="password" name="confirmPassword" id="confirm-new-password"
                                   ng-model="newPasswordConfirm" match-password="newPassword">
                            <div ng-messages="userDetailsForm.confirmPassword.$error">
                                <div ng-message="passwordMatch">Your passwords did not match.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label for="old-password">Current Password</label>
                        <input type="password" name="password" id="old-password" ng-model="user.password"
                               ng-required="user.password" ng-change="change()">
                        <div ng-messages="userDetailsForm.password.$error" role="alert">
                            <div ng-message="required">Enter your current password.</div>
                            <div ng-message="passwordIncorrect">Incorrect password.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <md-button type="submit" class="md-raised md-warn">Update</md-button>
        </form>
    </md-content>
</div>