<div flex="80" flex-xs="100" flex-gt-lg="60" layout="row" layout-align="center center"
     ng-controller="UserDetailsController">
    <md-content id="information" flex layout-padding>
        <div>
            <p id="info-header">Information</p>
            <md-divider></md-divider>
            <div layout="row" layout-xs="column" id="info-content">
                <div flex>
                    <md-subheader>Username</md-subheader>
                    <p>{{ user.username }}</p>


                    <md-subheader class="custom-subhead">Profile picture</md-subheader>

                    <div layout="row" layout-xs="column" layout-align-gt-xs="center center">
                        <div flex><img class="ava-preview" ng-src="{{ user.ava }}"/></div>
                        <div flex>
                            <md-button class="md-raised md-warn">Upload New Picture</md-button>
                        </div>
                    </div>
                </div>
                <div flex>
                    <md-subheader>Email</md-subheader>
                    <md-input-container class="md-block">
                        <input type="text" ng-model="user.email">
                    </md-input-container>
                    <p>Change password <span class="note">(Leave blank if you don't want to change it)</span></p>
                    <div layout="row" layout-xs="column">
                        <md-input-container>
                            <label for="old-password">Current Password</label>
                            <input type="password" id="old-password" ng-model="user.oldPassword">
                        </md-input-container>
                        <md-input-container>
                            <label for="new-password">New Password</label>
                            <input type="password" id="new-password" ng-model="user.newPassword">
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label for="confirm-new-password">Confirm New Password</label>
                        <input type="password" id="confirm-new-password" ng-model="user.newPasswordConfirm">
                    </md-input-container>
                </div>
            </div>
            <md-button type="submit" class="md-raised md-warn">Update</md-button>
        </div>
    </md-content>
</div>