<div layout="row" layout-align="center center">
    <md-content flex="100" flex-gt-xs="80" flex-gt-lg="60" id="information" layout-padding>
        <form name="userDetailsForm" novalidate ng-submit="updateUser(userDetailsForm)">
            <p id="info-header">Information</p>
            <md-divider class="custom-divider"></md-divider>
            <div layout="row" layout-xs="column" id="info-content">
                <div flex>
                    <md-subheader>Name</md-subheader>
                    <md-input-container class="md-block">
                        <label for="name">Your real name (visible to public)</label>
                        <input type="text" name="name" id="name" ng-model="user.name">
                    </md-input-container>
                    <md-subheader class="custom-subhead">Profile picture</md-subheader>
                    <div layout="row" layout-xs="column" layout-align-gt-xs="center center">
                        <div flex><img class="ava-preview" ng-src="{{ imageSrc || user.avatar }}"/></div>
                        <div flex>
                            <input type="file" class="ng-hide" id="uploadAva" name="ava" aria-label="upload avatar"
                                   onchange="angular.element(this).scope().setFile(this)" file-model="myAva">
                            <md-button class="md-raised md-accent" ng-click="activateUpload()">Upload New Picture
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <md-subheader>About</md-subheader>
                    <md-input-container class="md-block">
                        <label for="bio">Tell briefly about yourself</label>
                        <textarea name="bio" id="bio" ng-model="user.bio"></textarea>
                    </md-input-container>
                </div>
                <div flex>
                    <md-subheader>Email</md-subheader>
                    <md-input-container class="md-block">
                        <input type="email" required name="email" aria-label="email" ng-pattern="/^.+@.+\..+$/"
                               ng-model="user.email">
                        <div ng-messages="userDetailsForm.email.$error" ng-if="userDetailsForm.email.$touched">
                            <div ng-message-exp="['pattern', 'required']">Enter a valid email address.</div>
                        </div>
                    </md-input-container>
                    <md-subheader>Change password <span class="note">(Leave blank if you don't want to change it)</span>
                    </md-subheader>
                    <div layout="row" layout-xs="column">
                        <md-input-container>
                            <label for="new-password">New Password</label>
                            <input type="password" name="newPassword" id="new-password" ng-model="user.newPassword"
                                   ng-minlength="6">
                            <div ng-messages="userDetailsForm.newPassword.$error">
                                <div ng-message="minlength">Password should be at least 6 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="confirm-new-password">Confirm New Password</label>
                            <input type="password" name="confirmPassword" id="confirm-new-password"
                                   ng-model="newPasswordConfirm" match-password="newPassword">
                            <div ng-messages="userDetailsForm.confirmPassword.$error">
                                <div ng-message="passwordMatch">Your passwords did not match.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label for="old-password">Current Password</label>
                        <input type="password" name="password" id="old-password" ng-model="user.password"
                               ng-required="user.password" ng-change="change()">
                        <div ng-messages="userDetailsForm.password.$error" role="alert">
                            <div ng-message="required">Enter your current password.</div>
                            <div ng-message="passwordIncorrect">Incorrect password.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div id="update-profile-btn">
                <md-button type="submit" class="md-raised md-accent">Update</md-button>
                <md-progress-circular md-mode="indeterminate" class="md-accent spinner"
                                      ng-show="loading"></md-progress-circular>
            </div>
        </form>
    </md-content>
</div>